<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363868938955-007j8o4f1ap8bk68vequvj3ffd9t179a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363868938955-007j8o4f1ap8bk68vequvj3ffd9t179a</string>
	<key>API_KEY</key>
	<string>AIzaSyCF5G7GFuzj8JUix0w_84aAAGxIu9pR_A0</string>
	<key>GCM_SENDER_ID</key>
	<string>363868938955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.1journey1ryu5.Hello</string>
	<key>PROJECT_ID</key>
	<string>covidprefecture</string>
	<key>STORAGE_BUCKET</key>
	<string>covidprefecture.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363868938955:ios:ee5722f603b61dc791314e</string>
</dict>
</plist>